<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="CORTICON_HOME" value="C:\Program Files\Progress\Corticon 5.5\Server .NET\webservice" />
      <add key="CORTICON_WORK_DIR" value="C:\Program Files\Progress\Corticon 5.5\Server .NET\webservice" />
    </appSettings>
</configuration>